.prj-desc {
  visibility: hidden;
}

@media only screen and (max-width: 762px) {
  .prj-desc {
    visibility: visible;
    display: block;
  }

  p {
    padding: 5px 5px;
    text-align: left;
    font-size: .9em;
  }

  h6 {font-size: .9em; }
  .topnav { padding: 0px; }
  .logo { min-height: 100px; }

  .profile {
    background-position: center center;
    min-width: 200px;
    height: 300px;
  }

  .navi {
    height: 40px;
    margin: 0;
    border: 1px solid #fff;
    background-color: #CC7919;
    font-size: 1.3em;
  }
  .txt {
    border: none;
    width: 50%;
  }
  .txt a, p, h6 {
    padding: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    min-width: 100%;
  }
  .logo {
    min-width: 100%;
  }
}