body {
	position: relative;
	background-color: #ffffff;
	color: #333333;
	padding: 0;
	margin: 0;
	perspective: 3000px;
}

.windowHeight{
	scroll-snap-align: start;
}

.bodyMain{
	transform-origin: 70% 0;
	transform-style: preserve-3d;
	transform: rotateY(0deg) translateX(0px);
	width: 100%;
	transition: all .6s;
}

.menuOpen{
	transform: rotateY(-60deg) translateX(-125px);
}

.menu_btn{
	position: fixed;
	top: 0;
	right: 2px;
	width: 55px;
	height: 50px;
	background-color: #aaaaaa;
	border: 1px solid #999999;
	border-radius: 25px 0px 0px 25px;
	transform: translateZ(20px);
}

.sticky{
	position: fixed;
	right: 0px;
	top:0px;
	transform-style: preserve-3d;
	transform: rotateY(90deg) translate3D(75px,0,71px);
	background-color: #999999;
}

#nav .menu-item{
	height: 20%;
}

#nav a{
	color: #333333;
}

#content-wrapper{
	position: fixed;
background-color: #ffffff;
transform: rotateY(00deg) translateX(0px);
transform-style: preserve-3d;
border: 1px solid #333333;
width: 100%;
height: 100vh;
scroll-snap-type: y proximity;
}

#intro {
	position: relative;
	min-height: 600px;
	height: 100vh;
	max-height: 100%;
	overflow: hidden;
}

.profilePic{
	width: 100%;
}


.intro-content {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	color: #333333;
	transform-style: preserve-3d;
}

.intro-content h2 {
	font-weight: 200;
	color: #333333;
	transform-style: preserve-3d;
}

.logo {
	display: inline-block;
	width: 50px;
	transform-style: preserve-3d;
}

#intro a {
	color: #333333;
	text-decoration: underline;
	transform-style: preserve-3d;
}

a:link {
	text-decoration: none;
}

a:hover,
a:active {
	text-decoration: underline;
}

.image{
	width: 100%;
}