/*color: #997750*/

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

p{
	padding: 10px 0px;
}

body{
	margin: 0;
	padding: 0;
	background:#F8931F;
	background-attachment: fixed;
	font-family: Roboto, sans-serif;
}

div{
/*	border: 1px solid #000; */
}

.container{
	min-width: 90%;
}
.logo{
	background-image: url("../img/logo.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	min-height:200px;
	max-height:300px;
}

.profile{
	min-width:200px;
	width: 100%;
	background-image:url("../img/profile2.jpg");
	background-size: auto 100%;
	background-repeat: no-repeat;

}

.nav{
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
}

img.icon{
	height:75px;
}


@media only screen and (max-width: 762px) {
    .profile {
    background-position:center center;
	min-width:200px;
	height:300px;
    }
    .nav{
    	font-size:1em;
    }
}