body {
	background-color: #ffffff;
}

h1{text-align: center;}

#intro{
	position: relative; 
	min-height: 600px;
	max-height: 100vh;
}
.intro-bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}

.intro-bg-col{
	display: inline-block;
	width: 20%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg1{background-image: url("../img/reportbg.JPG");}
.bg2{background-image: url("../img/spatial.jpg");}
.bg3{background-image: url("../img/YDKM.jpg");}

.intro-content{
	background-color: rgba(0,0,0,.6);
	border: 1px solid #ffffff;
	color: #ffffff;
}

.intro-content h1{
	color: #ffffff;
}

.background-top{
		/* The image used */
		background-image: url("../img/reportbg.jpg");
	  
		/* Set a specific height */
		width: 100vw;
		height: 100vh;
	  
		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
}

.navigation{
	position: fixed;
	bottom:0;
	width: 100%;
	background-color: #ffffff;
	padding: 16px;
	z-index: 10;
	perspective: 100px;
	transform: rotateY(30);
}

.navigation h3{
	display: inline-block;
}

.navigation .nav-list{
	display: inline-block;
}

.logo{
	display:inline-block;
	width: 50px;
}

#intro a{
	color: #ffffff;
	text-decoration:underline;}
}

a:link {
	text-decoration:none;}
a:hover, a:active{text-decoration: underline;}

.work {
	background-color: #efefef;
}

.tile {
	position: relative;
	background:#dddddd;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 1px solid #333333;
	border-right: 10px solid #333333;
	height: 200px;
	overflow: hidden;
}

.tile:hover {
	display: block;
}

.tile-h3 {
	font-size:18px;
	font-weight: 800;
}

.tile-image {
	width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tile-text-wrapper {
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: 0;
	left: 0;
	padding: 10px;
	background-color: rgba(255,255,255,.7);
}